<h1>My Requests</h1>
<main>
{{#each data}}
<div>
    {{bookingStatus}}
</div>
<div>
    {{firstName}}
</div>
<div>
    {{lastName}}
</div>
<div>
    {{phoneNumber}}
</div>
<div>
    {{car.startdate}}
</div>
<div>
    {{car.enddate}}
</div>
<div>
    {{totalCost}}
</div>
<br>
<a href= '/myCar/MyRequests/{{car._id}}/{{_id}}/approved'><button>Approve</button></a>
<a href= '/myCar/MyRequests/{{_id}}/rejected'><button>Reject</button></a>
{{/each}}
</main>