<h1>My Cars</h1>
    {{#each carArray}}

    <div class="card text-white bg-dark mb-3">
        <div class="card-header"></div>
        <div class="card-body">
            <h3 class="card-title text-start"> {{_id}}</h3>
            <span class="placeholder placeholder-xs col-12 bg-primary"></span>
            <div class="d-flex justify-content-evenly">
                <div class="card-text m-2">
                    <h6>{{car.brandName}}</h6>
                    <span class="placeholder placeholder-xs col-12 bg-success"></span <p>Color: {{car.color}}</p>
                    <p>Number: {{car.carNumber}}</p>
                    <p>Capacity: {{car.capacity}}</p>
                    <p>Startdate: {{car.startdate}}</p>
                    <p>Enddate: {{car.enddate}}</p>
                </div>
            </div>
            <span class="placeholder placeholder-xs col-12 bg-danger"></span>
        </div>
    </div>

        <form method="POST" action="/approveCars/{{_id}}">
        <div>
            {{_id}}
        </div>
        <div>
            {{brandName}}
        </div>
        <div>
            {{color}}
        </div>
        <div>
            {{number}}
        </div>
        <div>
            {{capacity}}
        </div>
        <div>
            {{rate}}
        </div>
        <div>
            {{status}}
        </div>
        <div><button class="btn btn-primary btn-lg" name="Approved" id="submitButton" type="submit">Approve</button>
        <button class="btn btn-primary btn-lg" name="Rejected" id="submitButton" type="submit">Reject</button></div>
        </form>
    {{/each}}

    {{#if hasErrors}}
    <ul class="error-list">
        {{#each errors}}
        <li>
        {{this}}
        </li>
        {{/each}}
    </ul>
    {{/if}}

