<div id="error_answerQuestions" class="alert alert-danger" role="alert"></div>
{{#if hasErrors}}
  <ul class="error-list">
    {{#each errors}}
      <li>
        {{this}}
      </li>
    {{/each}}
  </ul>
{{/if}}

{{#if isMessage}}
  <ul class="message-list">
    {{#each messages}}
      <li>
        {{this}}
      </li>
    {{/each}}
  </ul>
{{/if}}

<link rel="stylesheet" href="/public/css/login.css" />
{{#each questions}}
  <div class="login-page">
    <div class="form">
      <div class="login">
        <div class="login-header">
          <h3>Questions</h3>
        </div>
        {{!-- <form
          class="question-form"
          method="POST"
          id="answer-form"
          name="answer-form"
          action="/answerQuestions/{{_id}}"
        > --}}
          <p>{{question}}</p>
          {{!-- <input
            type="text"
            name="answer"
            class="answer_answerquestion"
            id="answer_answerquestion"
            placeholder="Type Answer"
          /><br /> --}}
          <form
          method="get"
          id="get_answer-form"
          name="get_answer-form"
          action="/answerQuestions/{{_id}}">
          <input type="submit" id="submit" value="submit" class="btn-p" />
        </form>
      </div>
    </div>
    </div>
{{/each}}