<h1>My Bookings</h1>
<main>
    {{#each data}}
    <div>
        {{bookingStatus}}
    </div>
    <div>
        {{car.brandName}}
    </div>
    <div>
        {{car.color}}
    </div>
    <div>
        {{car.carNumber}}
    </div>
    <div>
        {{car.capacity}}
    </div>
    <div>
        {{car.startdate}}
    </div>
    <div>
        {{car.enddate}}
    </div>
    <br>
    {{/each}}
    {{#if hasErrors}}
    <div class="alert alert-danger" role="alert">
        {{{error}}}
    </div>
    {{/if}}

</main>